<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Todos 1</h1>
            <div class="input-group">
                  <input type="text" class="form-control" placeholder="Add Todo" ng-model="$ctrl.todo">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-disabled="!$ctrl.todo" ng-click="$ctrl.submitTodo1($ctrl.todo)">Save</button>
                  </span>
                </div><!-- /input-group -->
                 <hr>
            <ul class="list-unstyled">
                <li class="ui-state-default" ng-repeat="todo in $ctrl.todos1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-click="$ctrl.removeTodo1($index)"> {{todo}}
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Todos 2</h1>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add Todo" ng-model="$ctrl.todo2">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-disabled="!$ctrl.todo2"
                            ng-click="$ctrl.submitTodo2($ctrl.todo2)">Save</button>
                  </span>
            </div><!-- /input-group -->
            <hr>
            <ul class="list-unstyled">
                <li class="ui-state-default" ng-repeat="todo in $ctrl.todos2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-click="$ctrl.removeTodo2($index)"> {{todo}}
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
